---
import Page from '../../layouts/Page.astro';
import { asset } from '../../utils';
---

<Page title="Kinderbaan & educatie" hero="Kinderbaan & educatie" heroImage="/images/modelspoordagen/nmd_kinderbaan.jpg">
  <p><strong>Leeftijd:</strong> Vanaf 5-6 jaar | <strong>Bij:</strong> Exposities</p>

  <h2>Leren door spelen</h2>
  <p>
    De Kinderbaan is een educatieve modelspoorbaan speciaal voor kinderen.
    Onder begeleiding leren ze stoppen bij stations, seinen lezen en wissels
    bedienen. Wie het goed doet, verdient een echt Machinistendiploma!
  </p>

  <h2>Waar te zien?</h2>
  <p>
    De Kinderbaan gaat regelmatig mee naar exposities:
  </p>
  <ul>
    <li><a href={asset("/activiteiten/modelspoordagen")}>Noord-Hollandse Modelspoordagen</a></li>
    <li>Open Dag MSA</li>
    <li>Open Monumentendag</li>
    <li>Andere exposities waar de MSA deelneemt</li>
  </ul>

  <p>
    <em>De Kinderbaan is mede mogelijk gemaakt door erelid Hans Buttner,
    Michiel de Boer en Peter Siebers.</em>
  </p>

  <p>
    Meer over de baan zelf: <a href={asset("/banen/kinderbaan")}>Kinderbaan</a>.
  </p>
</Page>
