---
import Base from './Base.astro';
import { asset } from '../utils';

interface Props {
  title: string;
  description?: string;
  hero?: string;
  heroImage?: string;
}

const { title, description, hero, heroImage } = Astro.props;
---

<Base title={title} description={description}>
  {hero && (
    <div class="relative overflow-hidden bg-gradient-to-r from-primary-dark to-primary">
      {heroImage && (
        <>
          <img src={asset(heroImage!)} alt="" class="absolute inset-0 w-full h-full object-cover opacity-20" />
        </>
      )}
      <div class="relative text-white py-12">
        <div class="max-w-4xl mx-auto px-4">
          <h1 class="text-3xl md:text-4xl font-medium font-heading uppercase tracking-normal">{hero}</h1>
        </div>
      </div>
    </div>
  )}
  <div class="max-w-4xl mx-auto px-4 py-8">
    <div class="prose">
      <slot />
    </div>
  </div>
</Base>
